include appMixins

.page-edit
    != viewLib.Messages(req , namespace)
    - if(req.attrs.showToolbar){
        - var aP = req.attrs.actionsPermission, hasEdit  = aP.UPDATE.isAuthorized;
        - var hasPerm  = aP.PERMISSION.isAuthorized, hasDelete  = aP.DELETE.isAuthorized;
        - var hasAdd  = aP.ADD.isAuthorized;

        .btn-group#managePage_Actions
            if hasAdd
                .btn#addChild
                    i.icon-plus
                    |  Add Child
            if hasEdit
                .btn#edit
                    i.icon-edit
                    |  Edit
            if hasPerm
                .btn#permission
                    i.icon-wrench
                    |  Permission
            if hasDelete
                .btn#delete
                    i.icon-trash
                    |  Delete

    - }

    != req.attrs.pageForm
    +BottomScript(locals)
        script.
            require(["events"],function(){
                Rocket.trigger({type:"managePage:edit:load", target:this, data:{id:'managePage_Actions', pageId: '#{req.attrs.pageId}'}});
            });
