include appMixins

.displayArticle
    != viewLib.Messages(req , namespace)
    != req.attrs.articleHTML


-if(settings.enableComments)
    .article-comments
        div(id="#{namespace}_comments")
        +BottomScript(locals)
            script.
                require(["threadComments"], function(){
                    new Rocket.ThreadComments({
                        linkedModelId:'#{settings.id}',
                        linkedModelName:'Article',
                        linkedModelFinderParam:'id',
                        container: '##{namespace}_comments',
                        linkedPermissionSchemaKey: 'model.articleSchema.Article'
                    });
                });
