.plugin-body {
    margin: 15px;
}

.plugin-head .tools {
    top: -15px;
    position: relative;
    cursor: pointer;
}

.container .column {
    min-height: 250px;
}

.container .column .plugin {
    min-height: 100px;
}

.plugin-placeholder {
    border: 2px dashed #999;
}

.tools a {
    padding-left: 10px;
}

.editableform-loading {
    background: url('../../img/loading-editable.gif') center center no-repeat;
}
