body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.plugin .header {
    color: #777777;
    font-size: 16px;
    padding-top: 9px;
    text-shadow: 0 1px 0 #ffffff;
}

.plugin-head{
    height: 10px;
}

.plugin-body {
    margin: 15px;
}

.plugin-head .tools {
    top: -17px;
    position: relative;
    cursor: pointer;
}

.container .column {
    min-height: 250px;
}

.container .column .plugin {
    min-height: 100px;
}

.plugin-placeholder {
    border: 2px dashed #999;
}

.tools a {
    padding-left: 10px;
}

.editableform-loading {
    background: url('../../img/loading-editable.gif') center center no-repeat;
}
