<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
!{viewLib.Messages(req , namespace)}

.manage-articles
    ul.nav.nav-tabs
        li.active: a(href="#article", data-id="article",data-toggle="tab") Article
        - if(req.query && req.query[namespace] && req.query[namespace].articleId)
            li: a(href="#version", data-id="version", data-toggle="tab") Version

    .tab-content
        .tab-pane.fade.in.active#article
            !{req.attrs.articleForm}
        .tab-pane.fade#version
            .span8
                #versionTableContentBox
        :script
            require(["manageArticles"], function(){
               Rocket.trigger({type:"manageArticle:edit:load", target:this, data:{id:'#{req.params.id}'}});
            });






