!{viewLib.Messages(req , namespace)}

- var pv = new viewLib.PermissionValidator(req, "model.articleSchema", "");
- var hasAdd = pv.hasPermission("ADD").isAuthorized == true;

style
    .show-all-articles {
        margin-top: 30px;
    }
    div.dataTables_wrapper {
        overflow: visible;
    }

yy.article-toolbar
    if hasAdd
        button(id='add', class='btn')
            i.icon-plus-sign
            | Add Article
        &nbsp;
    button(id='delete', class='btn disabled', disabled="disabled")
        i.icon-trash
        | Delete

.show-all-articles
    #listTableContentBox
    :script
        require(["manageArticles"], function(){
            Rocket.trigger({type:"manageArticle:index:load", target:this});
        });
