include appMixins

style(type="text/css").
    .manage-resource-container{
        height: 100%;
        border: 1px solid #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

    }
    .manage-resource-container ul{
        margin-top: 15px;
        list-style: none;
    }
    .manage-resource-container ul.dropdown-menu{
        margin-top: 0px;
    }
    .manage-resource-container .resource-view{
        border-left: 1px solid #ddd;
        min-height: 300px;
    }
    .manage-resource-container .resource-tree ul li{
        margin-bottom: 5px;
    }
    .manage-resource-container .resource-tree li a.tree-node-up {
        cursor: pointer;
    }
    .manage-resource-container .resource-tree li.disabled a:hover {
        text-decoration: none;
    }
    .manage-resource-container .resource-tree li.disabled a {
        color: #808080;
        cursor: default;
    }
    .manage-resource-container .resource-tree a.add-folder{
        margin-left: 25px;
    }
    .manage-resource-container .resource-view #detail{
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .manage-resource-container .resource-view #detail .meta{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .manage-resource-container .resource-view .no-resource{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .manage-resource-upload-button .well{
        max-width: 400px;
        margin: 0 auto 10px;
    }

.manage-resource
    ul#breadcrumbs.breadcrumb
    if hasAdd
        .top-bar
            #uploader
                noscript |Please enable JavaScript to use file uploader.

    //- Flash messages
    .hide.alert.alert-error(id=namespace+"_errorFlash", data-autohide="true")
        button(class="close") x
        span.message

    .hide.alert.alert-success(id=namespace+"_successFlash", data-autohide="true")
        button(class="close") x
        span.message

.manage-resource-upload-button.row-fluid
    .well
        button.btn.btn-large.btn-block.btn-primary(id="manageResource_UploadButton") Upload

.manage-resource-container.row-fluid
    .resource-tree.span2
        ul
        if hasAdd
            a(href='javascript:;', id='addFolder', class='add-folder')
                i.icon-plus-sign
                |  Add Folder
    .resource-view.span10
        #list
        #detail.hide
            img(class="thumbnail")
            .meta
                .name
                .size
                .type
                .pixels.hide
                .url
            .toolbar
                button(id='download', class='btn')
                    i.icon-download-alt
                    |  Download
                &nbsp;
                button(id='rename', class='btn')
                    i.icon-edit
                    |  Rename
                &nbsp;
                button(id='delete', class='btn')
                    i.icon-trash
                    |  Delete
                &nbsp;
                button(id='go-up', class='btn')
                    i.icon-arrow-up
                    |  Go Up

+BottomScript(locals)
    script.
        require(['manageResource']);


