//- {modules} are required plugins
    {code} to execute the client js code, modules available are defined by above modules variable

include appMixins


+BottomScript(locals)
    script.
        require('#{modules}'.split(','), function () {
            !{code}
        });