doctype html
html(lang=locale)
    head
        include head
    body
        include header
        .container
            .row-fluid
                !=layoutHTMLTMPL
            include footer

        include scripts
        !=bottomIncludes

   