.nav-collapse
    ul.nav
        - var page = req.params.page;
        - if(req.attrs.isErrorPage) page = "";
        -each page in pages
            li(class="#{"/"+req.params.page === page.friendlyURL ? 'active' : ''}"): a(href="#{page.friendlyURL}") #{page.localizedName.en_US}
        -if(!req.session.loggedIn)
            li: a(href="/app/login#{'?redirect=/' + page}") Login
    !=dockbar





