mixin dockbar(req)
    if req.session && req.session.loggedIn
        ul.nav.pull-right
            li.dropdown
                a(class="dropdown-toggle", data-toggle="dropdown", href="#")!{req.session.user.firstName + " "}
                    b.caret
                ul.dropdown-menu
                    -if(req.session.roles[0] == "Administrator" && req.params && req.params.page != "settings") //TODO handle with permissions actions
                        li: a(href="#addPluginsModal",data-toggle="modal", id="add_plugins")
                            i.icon-plus-sign
                            |&nbsp;Add Plugins
                    li: a(href="/settings", id="site_settings_page")
                        i.icon-cog
                        |&nbsp;Settings

                    li.divider
                    li: a(href="/app/logout")
                        i.icon-off
                        |&nbsp;Logout
