//- Definition of variables
    req: {Object} Request object
    canAddPlugin: {Boolean} flag to show add plugin modal
    settingsURL: {String} Settings page url
if req.session && req.session.loggedIn
    ul.nav.pull-right
        li.dropdown
            a(class="dropdown-toggle", data-toggle="dropdown", href="#") !{req.session.user.firstName + " "}
                b.caret
            ul.dropdown-menu
                -if(canAddPlugin)
                    li: a(href="#addPluginsModal", id="add_plugins")
                        i.icon-plus-sign
                        |&nbsp;Add Plugins
                li: a(href="#{settingsURL}", id="site_settings_page")
                    i.icon-cog
                    |&nbsp;Settings

                li.divider
                li: a(href="/app/logout")
                    i.icon-off
                    |&nbsp;Logout
