div.hero-unit.center
    h1 404 Page Not Found
    br
    p The page you requested could not be found
    a(href=req.attrs.homeURL, class="btn btn-large btn-info")
        i.icon-home.icon-white
        | Home
