div.hero-unit.center
    h1 500 Internal Server Error
    br
    p Sorry, something went wrong.
    a(href=req.attrs.homeURL, class="btn btn-large btn-info")
        i.icon-home.icon-white
        | Home
