table
    tr
        td(style="vertical-align: top;")
            p(style="font-size:85%") #{commentDate}

        td
            b(style="margin-left: 10px;text-decoration: underline;") #{userFullName}
            div(style="white-space: pre-wrap;margin: 10px 0px 10px 10px;") !{commentContent}

a(href="#{commentURL}") View and reply to this comment

